.upcase
  text-transform: uppercase
.downcase
  text-transform: lowercase

.no-padding
  padding: 0

.no-margin
  margin: 0

.text-bold
  font-weight: 600

.text-thin
  font-weight: 200

.absolute
  position: absolute

.relative
  position: relative

.big-text
  font-size: 1.2em

.bigger-text
  font-size: 1.5em

.btn-green
  background-color: $ci-green
  &:hover
    color: white
    background-color: darken($ci-green, 15)
    transition: background-color 200ms
