.btn-green
  background-color: $ci-green
  color: white
  border-radius: 40px
  padding: 20px 40px
  font-size: 1.2em
  &:hover
    color: white
    background-color: darken($ci-green, 5)
    transition: background-color 200ms
