// Define defaults for each variable.
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$base-font-size:   16px !default
$base-font-weight: 400 !default
$small-font-size:  $base-font-size * 0.875 !default

$ci-red: #f71e35
$ci-green: #1794a5
