#introduction
  background-color: $ci-green
  color: white
  padding-top: 20px
  .description
    position: relative
    padding: 40px 80px
    line-height: 30px
    h2
      font-weight: bold

  .start-quote
    left: -8px
    top: 74px
    font-size: 200px
    color: #ddd

  .end-quote
    right: 65px
    bottom: 20px
    font-size: 200px
    color: #ddd
