nav.navbar
  padding: 10px
  .navbar-nav
    li.nav-item
      a.nav-link
        color: #ccc
      &.active a.nav-link
        color: white
  img.logo
    transition: transform 200ms
    &:hover
      transform: scale(1.05)
