#splasharea
  background-position: bottom
  background-repeat: no-repeat
  background-size: cover
  background-color: $ci-blue
  color: white
  min-height: 706px
  overflow: hidden
  position: relative
  width: 100vw

  .splashscreen-text-wrapper
    margin-top: 100px

  h2
    color: #ccc
    font-size: 1.2em
    font-weight: 300
    letter-spacing: 1px
    line-height: 35px

