#services
  background-color: $light-gray
  padding-top: 60px
  padding-bottom: 60px
  margin-bottom: 60px

  .service-box
    background-color: white
    margin-bottom: 30px
    overflow: hidden
    transition: all 200ms

    &.bg-green
      padding: 40px

    &:hover
      background-color: $ci-green
      color: white
      .icon svg
        fill: white
      .text .description
        color: white

    .link
      padding: 40px
      color: inherit
      display: block
      overflow: hidden

    .icon
      float: left
      width: 82px
      svg
        fill: $ci-green

    .text
      float: right
      width: 65%

      .header
        font-weight: bold
        margin-bottom: 10px

      .description
        color: $medium-gray
        line-height: 27px
