%footer
  .container
    .row
      .col-12.text-center.icon
        {% include icons/logo_parts_icon.html %}
    .row
      .col-12.text-center.socialmedia-icons
        %ul.list-inline
          %li instagram
          %li twitter
          %li facebook
          %li youtube
