.container-fluid
  %nav.navbar.navbar-expand-lg.fixed-top
    %a.navbar-brand{:href => "/"}
      {% include icons/rp_logo.html %}
    %button.navbar-toggler{"aria-controls" => "navigationsbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigationsbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navigationsbar.collapse.navbar-collapse.justify-content-end
      %ul.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            %strong Projekte
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"}
            %strong Über Uns
        %li.nav-item
          %a.nav-link{:href => "#"}
            %strong Blog
        %li.nav-item
          %a.nav-link{:href => "#"}
            %strong Kontakt
