@charset "utf-8"

// sass_helper partials.
@import "styles/sass_helper/variables"
@import "styles/sass_helper/syntax-highlighting"
@import "styles/sass_helper/fonts"
@import "styles/sass_helper/mixins"
@import "styles/sass_helper/utilities"

//site specific styles
@import "styles/elements/navbar"
@import "styles/elements/splasharea"
@import "styles/elements/services"
@import "styles/elements/introduction"
@import "styles/elements/contact"
@import "styles/elements/makeanoffer"
@import "styles/elements/offerform"
@import "styles/elements/footer"

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure
  margin: 0
  padding: 0

body
  font-family: 'PT Sans', sans-serif

@media (min-width: 576px)
  .container
    max-width: 720px

@media (min-width: 768px)
  .container
    max-width: 960px

@media (min-width: 992px)
  .container
    max-width: 960px

@media (min-width: 1200px)
  .container
    max-width: 1200px
