@charset "utf-8"

// including utils
@import "styles/utils/syntax-highlighting"

// including sass_helper
@import "styles/sass_helper/variables"
@import "styles/sass_helper/fonts"
@import "styles/sass_helper/mixins"
@import "styles/sass_helper/utilities"

// including element styles
@import "styles/elements/buttons"
@import "styles/elements/quote_box"
@import "styles/elements/service_link_box"
@import "styles/elements/text_bg"
@import "styles/elements/divider"
@import "styles/elements/feature_side_by_side"

// including layout styles
@import "styles/layout/layout"
@import "styles/layout/navbar"
@import "styles/layout/offerform"
@import "styles/layout/footer"
@import "styles/layout/splasharea"

// including site specific styles
@import "styles/sites/home"
@import "styles/sites/webdesign"

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure
  margin: 0
  padding: 0

body
  font-family: 'PT Sans', sans-serif

@media (min-width: 576px)
  .container
    max-width: 720px

@media (min-width: 768px)
  .container
    max-width: 960px

@media (min-width: 992px)
  .container
    max-width: 960px

@media (min-width: 1200px)
  .container
    max-width: 1200px
