#home
  .splasharea
    background-color: $ci-blue

    .splashscreen-text-wrapper
      h2
        font-size: 1.2em
        line-height: 30px
        font-weight: 300
        color: #ccc
        letter-spacing: 1px
    .background-logo-placeholder
      bottom: 10px
      position: absolute
      right: 100px
      width: 600px
      #first
        fill: $ci-red
        transition: fill 500ms
      #second
        fill: $ci-green
        transition: fill 500ms
      &:hover
        #first
          fill: $ci-green
        #second
          fill: $ci-red

    .typewriter-wrapper-box
      font-size: 3em
      font-weight: bold

      .typewriter-text
        min-height: 130px
        span
          font-size: 1.3em
          font-weight: bold

  #introduction
    color: white
    padding-top: 20px

  #services
    padding-top: 60px
    padding-bottom: 60px
    margin-bottom: 60px
