%section
  .container
    .row
      .col-12
        %ul
          %li Google Analytics Schulung - Meine Kunden besser verstehen
          %li Ich lerne Programmieren - Grundkurs f端r Sch端ler
          %li Nachhilfe f端r Sch端ler und Studenten (HTML, CSS, JS, Ruby on Rails)

