%section
  .container
    .row
      .col-12
        %ul
          %li responsive
          %li SEO - optimiert
          %li Performance optimiert
          %li Neuste Technik HTML5/CSS3
          %li intuitives Userinterface
          %li Erstellung von Prototypen
          %li ---
          %li vorhandene Seiten umbauen
          %li Konzeptions von Webseiten / Landingpages / Onlinetools
          %li Enge Kundenzusammenarbeit
          %li Zielgruppenanalyse und anpassung auf Zielgruppe
