%section#responsive.feature-side-by-side.bg-light-gray
  .container
    .row
      .col-md-6
        .feature-headline.mb-3
          %h2 Responsive Design
          .bg-headline-text.dark RESPONSIVE
        .feature-text
          Verwechseln Sie nicht Lesbarkeit mit Kommunikation. Nur weil etwas lesbar ist, bedeutet das nicht, dass es etwas kommuniziert und noch viel wichtiger, es bedeutet nicht, dass es das Richtige kommuniziert. Verwechseln Sie nicht Lesbarkeit mit Kommunikation. Nur weil etwas.
      .col-md-6
        .feature-illustration

%section#seo-optimized.feature-side-by-side
  .container
    .row
      .col-md-6
        .feature-illustration
      .col-md-6
        .feature-headline.mb-3
          %h2 Auf Sie zugeschnitten
          .bg-headline-text.light CI und CD
        .feature-text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nostrum similique recusandae inventore aut laboriosam officiis facilis, eius necessitatibus minima, tempore sint unde officia quam magnam dolore non dolorum, voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorum cum aperiam soluta! Labore ipsum unde, iste ad dignissimos nesciunt, sapiente explicabo eaque quia ducimus, veritatis facere inventore culpa mollitia?

%section#responsive.feature-side-by-side.bg-light-gray
  .container
    .row
      .col-md-6
        .feature-headline.mb-3
          %h2 Benutzerfreundlich
          .bg-headline-text.dark UI und UX
        .feature-text
          Verwechseln Sie nicht Lesbarkeit mit Kommunikation. Nur weil etwas lesbar ist, bedeutet das nicht, dass es etwas kommuniziert und noch viel wichtiger, es bedeutet nicht, dass es das Richtige kommuniziert. Verwechseln Sie nicht Lesbarkeit mit Kommunikation. Nur weil etwas.
      .col-md-6
        .feature-illustration

%section#seo-optimized.feature-side-by-side
  .container
    .row
      .col-md-6
        .feature-illustration
      .col-md-6
        .feature-headline.mb-3
          %h2 Realisierbar
          .bg-headline-text.light 100%
        .feature-text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nostrum similique recusandae inventore aut laboriosam officiis facilis, eius necessitatibus minima, tempore sint unde officia quam magnam dolore non dolorum, voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorum cum aperiam soluta! Labore ipsum unde, iste ad dignissimos nesciunt, sapiente explicabo eaque quia ducimus, veritatis facere inventore culpa mollitia?


%%section
  .container
    .row
      .col-12
        %ul
          %li responsive
          %li SEO - optimiert
          %li Performance optimiert
          %li Neuste Technik HTML5/CSS3
          %li intuitives Userinterface
          %li Erstellung von Prototypen
          %li ---
          %li vorhandene Seiten umbauen
          %li Konzeptions von Webseiten / Landingpages / Onlinetools
          %li Enge Kundenzusammenarbeit
          %li Zielgruppenanalyse und anpassung auf Zielgruppe
