!!! 5
%html{ lang: "de" }
  {% include head.html %}
  %body
    {% haml header.haml %}
    %main.page-content{ 'aria-label': "Content" }
      .wrapper
        {{ content }}

    {% haml footer.haml %}
