---
layout: default
---

// HOME SPLASH AREA
#home
  %header.splasharea{:style => "background-image: url('assets/images/hero-image-6.png')"}
    .bg-logo
      {% include icons/logo_parts_icon.html %}
    .mouse
      .wrapper
        .mouse-wheel
    {% haml navigation.haml %}
    .container
      .row.splashscreen-text-wrapper
        .col-md-12
          .typewriter-wrapper-box.text-uppercase.text-right
            .typewriter-text.text-center
          %h2.text-center.mb-5.fade-in
            Ich bin professioneller Webentwickler und Webdesigner. Seid vielen Jahren arbeite ich an Webprojekte, Logodesigns
            und Firmenbranding. Ich denke das ich für Sie genau der richtige bin, wenn es darum geht IHRE IDEE umzusetzen.
            %br/
            %br/
            %strong Lassen Sie mich Ihnen ein unverbindliches Angebot erstellen.
      .row.mt-5.fade-in
        .col-md-12
          .text-center
            %a.button-red.button-big.button-rounded{:href => "#"} Angebot erstellen lassen

  %section#page-description
    .bg-logo
      {% include icons/logo_parts_icon.html %}
    .container
      .row
        .col-12.mx-auto.mt-3.mb-3.text-center
          // TODO: Icon kommt auch aus unterseite
          %h1.fade-in
            Ich bin Ihr Ansprechpartner für Webdesign, Webentwicklung, Logo- sowie Visitenkartendesign. Ich designe
            und entwickle gerne IHRE IDEE. Ob es sich um ein Webprojekt oder um die Aussenwirkung Ihrer Marke handelt,
            umgesetzt wird es so, dass Sie später STOLZ DARAUF sein werden.

  // HOME SERVICES
  %section#services.bg-light-gray
    .container
      .row
        .col.text-center.mb-3
          %h2.text-uppercase.text-bold My Services
          .divider-green
      .row
        .col-sm-12.mb-5
          .text-bg.text-bg-green.text-bold
            .col-xs-12.text-center
              ICH HABE MEINE DIENSTLEISTUNGEN IN 6 KATEGEGORIEN GETEILT. NATÜRLICH LASSEN SICH ALLE KOMBINIEREN. IHRE IDEE STEHT IM VORDERGRUND
        .col-md-6.col-sm-12.slide-in-left
          .service-box
            %a.link{:href => "webdesign"}
              .icon
                {% include icons/webdesign_icon.html %}
              .text
                .header.text-uppercase
                  Webdesign
                .description
                  Konzeption und Entwicklung  des Designs Ihrer Webseite
        .col-md-6.col-sm-12.slide-in-right
          .service-box
            %a.link{:href => "webentwicklung"}
              .icon
                {% include icons/webentwicklung_icon.html %}
              .text
                .header.text-uppercase
                  Webentwicklung
                .description
                  Entwicklung komplexer  Applikationen für das Web
        .col-md-6.col-sm-12.slide-in-left
          .service-box
            %a.link{:href => "logos"}
              .icon
                {% include icons/logo_icon.html %}
              .text
                .header.text-uppercase
                  Logos
                .description
                  Entwicklung des Identitäts- Symbol Ihrer Firma/Verein
        .col-md-6.col-sm-12.slide-in-right
          .service-box
            %a.link{:href => "visitenkarten"}
              .icon
                {% include icons/visitenkarte_icon.html %}
              .text
                .header.text-uppercase
                  Visitenkarten
                .description
                  Erstellung von Karten nach  Ihrem Coperate Design
        .col-md-6.col-sm-12.slide-in-left
          .service-box
            %a.link{:href => "schulungen"}
              .icon
                {% include icons/schulung_icon.html %}
              .text
                .header.text-uppercase
                  Schulungen
                .description
                  Ich teile mein Wissen und  gebe es an Schüler weiter
        .col-md-6.col-sm-12.slide-in-right
          .service-box
            %a.link{:href => "beratung"}
              .icon
                {% include icons/beratung_icon.html %}
              .text
                .header.text-uppercase
                  Beratungen
                .description
                  Domainumzug, Hosting... Ich beantworte Ihre Fragen

  // HOME MYWORK
  %section#mywork.mb-5.fade-in
    .container
      .row
        .col.text-center.mb-3
          %h2.text-uppercase.text-bold MY WORK
          .divider-green
      .row
        .col-sm-8.col-xs-12.text-center.mb-5.description.mx-auto
          %p.text-stylelist
            %ul
              %li Piano-Thilemann (Webdesign & Webentwicklung)
              %li Febg Anhausen (Logo & Webdesign & Webentwicklung)
              %li OB-Koblenz (Logo)
              %li www.reisepassnummer (Webentwicklung AMP)
              %li David Friesen (Webdesign & Webentwicklung)


      .row
        .col.text-center.mb-3
          %a.button.button-rounded.button-ghost.button-green.button-small{:href => "#"} Mein Portfolio
