---
layout: default
---

// PAGE SPLASH AREA
%header#splasharea
  {% haml navigation.haml %}
  .container
    .row.splashscreen-text-wrapper
      .col-12
        %p.h1.text-uppercase.text-right
          #splashscreen-text.text-center
        .divider
        %h2.text-center
          WEBDESIGN SEITE
          %strong unverbindliches Angebot erstellen.

{{ content }}
